<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbgt.obtain.mapper.NbaTmoneyInfoMapper" >

    <resultMap id="BaseResultMap" type="com.rbgt.obtain.entity.NbaTmoneyInfo" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="money" property="money" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, money, state, createTime, note
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from nba_t_money_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByCreateTime" resultMap="BaseResultMap" parameterType="com.rbgt.obtain.entity.NbaTmoneyInfo" >
        select
        <include refid="Base_Column_List" />
        from nba_t_money_info
        where createTime = #{createTime,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from nba_t_money_info
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.rbgt.obtain.entity.NbaTmoneyInfo" >
        insert into nba_t_money_info (id, money, state,
            createTime, note)
        values (#{id,jdbcType=INTEGER}, #{money,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
            #{createTime,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.rbgt.obtain.entity.NbaTmoneyInfo" >
        insert into nba_t_money_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="money != null" >
                money,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="createTime != null" >
                createTime,
            </if>
            <if test="note != null" >
                note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="money != null" >
                #{money,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="note != null" >
                #{note,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.rbgt.obtain.entity.NbaTmoneyInfo" >
        update nba_t_money_info
        <set >
            <if test="money != null" >
                money = #{money,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                createTime = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="note != null" >
                note = #{note,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.rbgt.obtain.entity.NbaTmoneyInfo" >
        update nba_t_money_info
        set money = #{money,jdbcType=VARCHAR},
            state = #{state,jdbcType=VARCHAR},
            createTime = #{createTime,jdbcType=VARCHAR},
            note = #{note,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>